.home-reviews {
    background: url("../img/home/human.jpg") no-repeat center center / cover;
    background-attachment: fixed;
}

.home-reviews-bg {
    background-color: rgba($black, 0.9);
    padding-bottom: 40px;
    position: relative;

    .left-quote,
    .right-quote {
        position: absolute;
        color: $white;
        font-size: 35px;
    }

    .left-quote {
        top: 30px;
        left: 30px;
    }

    .right-quote {
        right: 30px;
        bottom: 30px;
    }
}

.review {
    width: 80%;
    color: $white;
    margin: 0px auto;
    padding-bottom: 50px;

    h3 {
        font-size: 18px;
        color: $green;
        font-weight: 700;
        text-align: center;
    }
        
    h4 {
        font-size: 14px;
        padding-bottom: 7px;
        border-bottom: 1px solid $green;
        text-align: center;
    }

    h5 {
        font-size: 14px;
        margin: 0;
    }
        
    ul {
        text-align: left;
        
        li {
            text-align: left;
            margin-left: 15px;
        }
    }       

    @media (max-width: $md) {
        width: 100%;
    } 
}

